[Unit]
Description=Dolby FW Startup
DefaultDependencies=no

[Service]
User=root
ExecStartPre=/bin/mkdir -p /tmp/ds
ExecStart=-/usr/bin/dolby_fw_dms12 /usr/lib/libdolbyms12.so /tmp/ds/0x4d_0x5331_0x32.so
RestartSec=1s
Restart=on-failure

[Install]
WantedBy=multi-user.target

